.header {
  min-height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  font-size: var(--heading3-size);
  color: var(--text-h);
  padding: 1.5rem var(--container-padding);
  border-bottom: 1px solid var(--border);
}
