body {
  margin: 0 auto;
}

h1 {
  font-size: var(--heading1-size);
  font-weight: var(--heading-weight);
  color: var(--text-h);
  line-height: 1.1;
}

h2 {
  font-size: var(--heading2-size);
  font-weight: var(--heading-weight);
  color: var(--text-h);
  line-height: 1.15;
}

h3 {
  font-size: var(--heading3-size);
  font-weight: var(--heading-weight);
  color: var(--text-h);
  line-height: 1.2;
}

h4 {
  font-size: var(--heading4-size);
  font-weight: var(--heading-weight);
  color: var(--text-h);
  line-height: 1.25;
}

p {
  font-size: var(--text-regular-size);
}

.divider {
  width: 90%;
  margin: 0 auto;
  border: 1px solid var(--border);
}

.warning {
  font-size: var(text-large-size);
  color: var(--warning-color);
  margin: 12px;
  text-align: center;
}