@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --bg-light: #E6E6E6;
  --bg-dark: #16171d;
  --text-dark-color: #333333;
  --text-light-color: #FFFFFF;
  --text-muted: #9ca3af;
  --primary-color: #32A8E6;
  --primary-hover-color: #1E90D6;
  --secondary-color: #8B5CF6;
  --secondary-hover-color: #7C3AED;
  --error-hover-color: #d43333;
  --heading1-size: 3rem;
  --heading2-size: 2rem;
  --heading3-size: 1.5rem;
  --heading4-size: 1.30rem;
  --heading-weight: 700;
  --text-large-size: 1.25rem;
  --text-regular-size: 1rem;
  --text-regular-weight: 400;
  --text-bold-weight: 600;
  --error-color: #FF4E4E;
  --warning-color: #FFC857;
  --success-color: #4CC27B;
  
  --text-h: #F9FAFB;
  --border: #2e303a;
  --borderSecondary:#3a3b3f;
}

/* styles/reset.css */
*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  -webkit-text-size-adjust: 100%;
}

body {
  font-family: "Montserrat", sans-serif;
  line-height: 1.5;
  background-color: var(--bg-dark);
  color: var(--text-light-color); 
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}
